<div>
  <div style="display: flex; align-items: baseline; gap: 1em;">
    <span class="govuk-caption-xl">16GH1510125 (2172489)</span>
    <a href="#" class="govuk-link govuk-body-s" onclick="alert('Opens: Full Case File (links to CMS)')">View case (opens in a new tab)</a>
  </div>

    <!-- <div style="display: flex; align-items: baseline; gap: 1em;">
<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Tabitha Quibble, Percival Snodgrass</h1>
    <a href="#" class="govuk-link govuk-body-s" onclick="alert('Opens: People (links to CMS)')">View people (opens in a new tab)</a>
      </div> -->

<!--
  <div style="display: flex; align-items: center; gap: 1em;">

                    {{ govukTag({
                      text: "Strong (AI assessment)",
                      classes: "govuk-tag--light-blue",
                      attributes: {
                        "style": "outline: 2px dashed #732282; outline-offset: 2px; font-size: 1rem;"
                      }
                    }) }}

  </div>
  <div class="govuk-!-margin-bottom-6"></div>
</div>
-->

{% include "_includes/case-graph/v4/defendant-switcher.njk" %}

<!-- 
<div class="govuk-!-margin-bottom-4">
  <dl class="govuk-summary-list govuk-!-margin-bottom-0 govuk-summary-list--no-border" style="max-width: 600px;">
      <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Defendants</dt>
      <dd class="govuk-summary-list__value">
      Tabitha Quibble<br>
      Percival Snodgrass
      </dd>
    </div>
     <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Offence date</dt>
      <dd class="govuk-summary-list__value">15 January 2026</dd>
    </div>

  </dl>
</div>
-->


<hr class="govuk-section-break govuk-section-break--l">

