
        
        <div class="govuk-!-margin-bottom-4" style="display: flex; align-items: center; gap: 0.5em; flex-wrap: wrap;">
        
  <span class="govuk-body-s" style="color: #505a5f;"> Focus case information by:</span>

  <button class="app-defendant-switcher__btn app-defendant-switcher__btn--active govuk-body-s"
          data-view-btn="all" aria-pressed="true">
          <span class="govuk-body-s">
          All defendants
          </span>
          </button>

  <span class="govuk-body-s" aria-hidden="true" style="color: #b1b4b6;">|</span>

  <button class="govuk-body-s app-defendant-switcher__btn govuk-link"
          data-view-btn="quibble" aria-pressed="false">
                    <span class="govuk-body-s">
                    Tabitha Quibble
                    </span>
                    </button>

  <span class="govuk-body-s" aria-hidden="true" style="color: #b1b4b6;">|</span>

  <button class="govuk-body-s app-defendant-switcher__btn govuk-link"
          data-view-btn="snodgrass" aria-pressed="false">
                    <span class="govuk-body-s">
                    Percival Snodgrass
                    </span>
                    </button>
                    
</div>
