
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                People
              </h2>
            </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body-m govuk-!-margin-bottom-2"><strong>Defendants</strong> 
                <ol class="govuk-list govuk-body-s govuk-list--number">
                  <li>Tabitha Quibble (Software Engineer)</li>
                  <li>Percival Snodgrass (Occupation Unknown)</li>
                </ol>
            <p class="govuk-body-m govuk-!-margin-bottom-2"><strong>Victims</strong> 
                <ol class="govuk-list govuk-body-s govuk-list--number">
                  <li>Millicent Bumble (Security Guard)</li>
                </ol>
            <p class="govuk-body-m govuk-!-margin-bottom-2"><strong>Witnesses</strong> 
                <ol class="govuk-list govuk-body-s govuk-list--number">
                  <li>Pippa Tiddlepot (Store Assistant)</li>
                </ol>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body-s govuk-!-margin-bottom-2"><a href="people" class="govuk-link">View people in more detail</a></p>
          </div>
        </div>
