<div class="govuk-summary-card govuk-!-margin-bottom-6">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Charges</h2>
  </div>
  <div class="govuk-summary-card__content">
    <ol class="govuk-list govuk-body-s govuk-list--number">
      <li>Theft (s.1 TA 1968) <span class="govuk-tag govuk-tag--green" style="font-size: 1rem; vertical-align: middle; margin-left: 1em;">Accepted by CPS</span></li>
      <li>Common Assualt<span class="govuk-tag govuk-tag--green" style="font-size: 1rem; vertical-align: middle; margin-left: 1em;">Accepted by CPS</span></li>
      <li>Assault ABH (s.47 OAPA 1861) <span class="govuk-tag govuk-tag--grey" style="font-size: 1rem; vertical-align: middle; margin-left: 1em;">Replaced</span></li>
    </ol>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p class="govuk-body-s govuk-!-margin-bottom-2"><a href="charges" class="govuk-link">View charges in more detail</a></p>
  </div>
</div>
