<div class="govuk-summary-card govuk-!-margin-bottom-6">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Related cases</h2>
  </div>
  <div class="govuk-summary-card__content">
        <p class="govuk-hint govuk-!-margin-bottom-4">Other cases involving Percival Snodgrass found in CPS records.</p>

    <ol class="govuk-list govuk-body-s govuk-list--number">
      <li>19GH6611930 <span class="govuk-tag govuk-tag--red" style="font-size: 1rem; vertical-align: middle; margin-left: 1em;">Convicted</span></li>
    </ol>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p class="govuk-body-s govuk-!-margin-bottom-2"><a href="related-cases" class="govuk-link">View related cases in more detail</a></p>
  </div>
</div>
