<section aria-label="People connected to Tabitha Quibble">

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper" id="defendant-quibble" tabindex="-1">
          <h2 class="govuk-summary-card__title">Tabitha Quibble</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <span class="govuk-tag govuk-tag--teal" style="font-size: 1rem; vertical-align: middle;" aria-label="Defendant">Defendant</span>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Age at time of offence</dt>
              <dd class="govuk-summary-list__value">32 years old</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Occupation</dt>
              <dd class="govuk-summary-list__value">Software Engineer</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Role in incident</dt>
              <dd class="govuk-summary-list__value">Selected and concealed items at Selfridges; present during assault on security guard</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Proposed charges</dt>
              <dd class="govuk-summary-list__value">
                <a class="govuk-link" href="charges">Theft (s.1 Theft Act 1968)</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Police remand status</dt>
              <dd class="govuk-summary-list__value">Conditional bail</dd>
            </div>
          </dl>
          <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0">
            <a href="related-cases" class="govuk-link">View cases related to Tabitha Quibble</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  <h2 class="govuk-heading-m">Co-defendant</h2>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper" tabindex="-1">
          <h2 class="govuk-summary-card__title">Percival Snodgrass</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <span class="govuk-tag govuk-tag--teal" style="font-size: 1rem; vertical-align: middle;" aria-label="Co-defendant">Co-defendant</span>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Age at time of offence</dt>
              <dd class="govuk-summary-list__value">28 years old</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Role in incident</dt>
              <dd class="govuk-summary-list__value">Acted as lookout during theft; assaulted security guard Millicent Bumble when confronted at exit</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Proposed charges</dt>
              <dd class="govuk-summary-list__value">
                <a class="govuk-link" href="charges">Theft (s.1 Theft Act 1968)</a>,
                <a class="govuk-link" href="charges">Common assault (s.39 CJA 1988)</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Police remand status</dt>
              <dd class="govuk-summary-list__value">Custody</dd>
            </div>
          </dl>
          <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0">
            <a href="related-cases" class="govuk-link">View cases related to Percival Snodgrass</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  <h2 class="govuk-heading-m">Victim</h2>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper" id="victim-bumble-quibble" tabindex="-1">
          <h2 class="govuk-summary-card__title">Millicent Bumble</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <span class="govuk-tag govuk-tag--pink" style="font-size: 1rem; vertical-align: middle;" aria-label="Victim">Victim</span>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Role in incident</dt>
              <dd class="govuk-summary-list__value">Store security guard at Selfridges; assaulted by co-defendant Percival Snodgrass at the store exit. Quibble was present but did not participate in the assault.</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Injury</dt>
              <dd class="govuk-summary-list__value">Bruising to right shoulder and upper arm. Attended A&amp;E on 15 January 2026. Injury assessed as below ABH threshold.</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Statements</dt>
              <dd class="govuk-summary-list__value">
                <a href="#" onclick="alert('Opens: Victim statement: Millicent Bumble - 888200')">MG11/888200 (theft and stop account)</a>,
                <a href="#" onclick="alert('Opens: Victim statement: Millicent Bumble - 887580')">MG11/887580 (assault account)</a>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>

</section>