<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
  
  <div class="govuk-summary-card govuk-!-margin-bottom-6">
  <div class="govuk-summary-card__title-wrapper" style="display: flex; justify-content: space-between; align-items: center; gap: 1em;">
    <h2 class="govuk-summary-card__title" style="margin-bottom: 0;">21GH8820451</h2>
    <span class="govuk-tag govuk-tag--grey" style="font-size: 1rem;">Caution</span>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Charge</dt>
        <dd class="govuk-summary-list__value">Handling stolen goods contrary to s.22 Theft Act 1968</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Date</dt>
        <dd class="govuk-summary-list__value">14 March 2021</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Location</dt>
        <dd class="govuk-summary-list__value">Selfridges, High Street</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Outcome</dt>
        <dd class="govuk-summary-list__value">Simple caution</dd>
      </div>
    </dl>
    <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0">
      <a href="related-case-snodgrass" class="govuk-link">View case in CMS (opens in a new tab)</a>
    </p>
  </div>
</div>

</div>
</div>
