{% if not hideNav %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  serviceName: "Explore the case",
  serviceUrl: "overview",
  navigation: [
      {
        href: "people",
        text: "People",
        active: navId == 'people'
      },
      {
        href: "details",
        text: "Details and timeline",
        active: navId == 'details'
      },
      {
        href: "charges",
        text: "Charges",
        active: navId == 'charges'
      }
  ]
}) }}

{% endif %}
