{% extends "layouts/overview.html" %}

{% set navId = 'overview' %}
{% set pageName = "Correspondence Drafter %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Letter Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Compose Letter
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% extends "layouts/main.html" %}


      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      <ul class="govuk-task-list">
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="v1/lettereditor" aria-describedby="company-details-3-hint company-details-3-status">
        V1: Replica of whhat is in live
      </a>
      <div id="company-details-3-hint" class="govuk-task-list__hint">
        Last updated 14 November 2025
      </div>
    </div>
    <div class="govuk-task-list__status" id="company-details-3-status">
      <strong class="govuk-tag govuk-tag--grey">
        Incomplete
      </strong>
    </div>
  </li>
</ul>


  </div>
</div>

{% endblock %}
