{% extends "layouts/overview.html" %}

{% set navId = 'overview' %}
{% set pageName = "User groups" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "AI projects overview",
      href: "/index"
    },
    {
      text: "Case Summary prototypes",
      href: "/case-graph"
    }
    ]
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% extends "layouts/main.html" %}


      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      <ul class="govuk-task-list">
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="v2/advocate" aria-describedby="">
        Advocate
      </a>
      <div id="company-details-3-hint" class="govuk-task-list__hint">
        <p>As an advocate, I need XXX</p>    
      </div>
      <p class="govuk-body-s govuk-task-list__hint">Last updated 26 January 2026</p>
    </div>
    <div class="govuk-task-list__status" id="company-details-3-status">
      <strong class="govuk-tag govuk-tag--light-blue">
        Work in progress
      </strong>
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="v2/reviewing-lawyer" aria-describedby="">
        Reviewing lawyer
      </a>
      <div id="company-details-3-hint" class="govuk-task-list__hint">
        <p>As a reviewing lawyer, I need XXX</p>   
      </div>
      <p class="govuk-body-s govuk-task-list__hint">Last updated 18 November 2025</p>
    </div>
    <div class="govuk-task-list__status" id="company-details-4-status">
      <strong class="govuk-tag govuk-tag--grey">
        Not started
      </strong>
    </div>
  </li>
</ul>


  </div>
</div>

{% endblock %}
