{% if (data['testing'] or (query and query.testing)) %}
  {# Show custom testing header/footer #}
  <footer class="govuk-footer" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <strong>This is a prototype for research and user testing only.</strong><br>
        <p class="govuk-body-s">This link and the content within this prototype must not be shared. All content and data are fictional and are used for demonstration purposes only.</p>

        <p class="govuk-body-s">
        <a class="govuk-footer__link" href="/manage-prototype/clear-data">
          Clear data
        </a>
        </p>
      </div>
    </div>
  </div>
</footer>

{% else %}
  {# Show normal header/footer #}
  {% set footerHtml %}
    <h2 class="govuk-heading-m">Get help</h2>
    <p class="govuk-!-font-size-16">Email: <a href="#">help@cps.gov.uk</a><br>
      You’ll get a response within 5 working days.
    </p>
    <ul class="govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link govuk-!-font-size-16" href="/manage-prototype">
          Manage your prototype
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link govuk-!-font-size-16" href="/manage-prototype/clear-data">
          Clear data
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link govuk-!-font-size-16" href="/accessibility">
          Accessibility
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link govuk-!-font-size-16" href="/static">
          Static pages
        </a>
      </li>
    </ul>
  {% endset %}
  {{ govukFooter({
    meta: {
      html: footerHtml
    }
  }) }}
{% endif %}