<div>
  <div style="display: flex; align-items: baseline; gap: 1em;">
    <span class="govuk-caption-xl">16GH1510125 (2172489)</span>
  </div>

    <div style="display: flex; align-items: baseline; gap: 1em;">
<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Tabitha Quibble and 1 more</h1>
      </div>

  <div class="govuk-!-margin-bottom-6"></div>
</div>

<div class="govuk-!-margin-bottom-6">
  <dl class="govuk-summary-list govuk-!-margin-bottom-0 govuk-summary-list--no-border" style="max-width: 400px;">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Offence date</dt>
      <dd class="govuk-summary-list__value">15 January 2026</dd>
    </div>
  </dl>
</div>

<hr class="govuk-section-break govuk-section-break--l">

