<div>
  <div style="display: flex; align-items: baseline; gap: 1em;">
    <span class="govuk-caption-xl">16GH1510125 (2172489)</span>
    <a href="#" class="govuk-link govuk-body-s" onclick="alert('Opens: Full Case File (links to CMS)')">View case in CMS</a>
  </div>

    <div style="display: flex; align-items: baseline; gap: 1em;">
<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Tabitha Quibble and 1 more</h1>
    <a href="#" class="govuk-link govuk-body-s" onclick="alert('Opens: People (links to CMS)')">View people in CMS</a>
      </div>

  <div style="display: flex; align-items: center; gap: 1em;">
    <strong class="govuk-tag govuk-tag--green" style="font-size: 1rem;">Strong</strong>
    <!-- <a href="#proceed-court" class="govuk-link govuk-body-s">Find out why</a> -->
  </div>
  <div class="govuk-!-margin-bottom-6"></div>
</div>

<div class="govuk-!-margin-bottom-6">
  <dl class="govuk-summary-list govuk-!-margin-bottom-0 govuk-summary-list--no-border" style="max-width: 400px;">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Offence date</dt>
      <dd class="govuk-summary-list__value">15 January 2026</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Location</dt>
      <dd class="govuk-summary-list__value">Selfridges, High Street</dd>
    </div>
  </dl>
</div>

<hr class="govuk-section-break govuk-section-break--l">

