<div class="app-filter">
  <div class="app-filter__content">
    {% set hasSelected = (query.status or query.defendant) %}
    {% if hasSelected %}
      <div class="app-filter__selected">
        <div class="app-filter__selected-heading">
          <div class="app-filter__heading-title">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Selected filters</h2>
            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="?">Clear filters</a></p>
          </div>
        </div>
        <ul class="app-filter-tags">
          {% for status in query.status if query.status %}
            <li><a class="app-filter__tag" href="?{{ query | dictsort | rejectattr('0', 'equalto', 'status') | urlencode }}">{{ status }}</a></li>
          {% endfor %}
          {% for defendant in query.defendant if query.defendant %}
            <li><a class="app-filter__tag" href="?{{ query | dictsort | rejectattr('0', 'equalto', 'defendant') | urlencode }}">{{ defendant }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <div class="app-filter__options">
      <form method="get" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Status</legend>
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-proposed" name="status" type="checkbox" value="Proposed" {% if 'Proposed' in (query.status or []) %}checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="status-proposed">Proposed</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-accepted" name="status" type="checkbox" value="Accepted" {% if 'Accepted' in (query.status or []) %}checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="status-accepted">Accepted</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-amended" name="status" type="checkbox" value="Amended" {% if 'Amended' in (query.status or []) %}checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="status-amended">Amended</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-replaced" name="status" type="checkbox" value="Replaced" {% if 'Replaced' in (query.status or []) %}checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="status-replaced">Replaced</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-rejected" name="status" type="checkbox" value="Rejected" {% if 'Rejected' in (query.status or []) %}checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="status-rejected">Rejected</label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Defendant</legend>
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="defendant-quibble" name="defendant" type="checkbox" value="Tabitha Quibble" {% if 'Tabitha Quibble' in (query.defendant or []) %}checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="defendant-quibble">Tabitha Quibble</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="defendant-snodgrass" name="defendant" type="checkbox" value="Percival Snodgrass" {% if 'Percival Snodgrass' in (query.defendant or []) %}checked{% endif %}>
                <label class="govuk-label govuk-checkboxes__label" for="defendant-snodgrass">Percival Snodgrass</label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">Apply filters</button>
      </form>
    </div>
  </div>
</div>
