
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                People
              </h2>
            </div>
          <div class="govuk-summary-card__content">
            <p class="govuk-body-m govuk-!-margin-bottom-2"><strong>Defendants</strong> 
                <ol class="govuk-list govuk-body-s govuk-list--number">
                  <li><a href="people#defendant-quibble" class="govuk-link">Tabitha Quibble</a> (Software Engineer)</li>
                  <li><a href="people#defendant-snodgrass" class="govuk-link">Percival Snodgrass</a> (Occupation Unknown)</li>
                </ol>
            <p class="govuk-body-m govuk-!-margin-bottom-2"><strong>Victims</strong> 
                <ol class="govuk-list govuk-body-s govuk-list--number">
                  <li><a href="people#witness-bumble" class="govuk-link">Millicent Bumble</a> (Security Guard) — also witness</li>
                </ol>
            <p class="govuk-body-m govuk-!-margin-bottom-2"><strong>Witnesses</strong> 
                <ol class="govuk-list govuk-body-s govuk-list--number">
                  <li><a href="people#witness-bumble" class="govuk-link">Millicent Bumble</a> (Security Guard) — also victim</li>
                  <li><a href="people#witness-tiddlepot" class="govuk-link">Pippa Tiddlepot</a> (Store Manager)</li>
                  <li><a href="people#witness-crumhorn" class="govuk-link">Reginald Crumhorn</a> (Off-duty Police Officer)</li>
                  <li><a href="people#witness-starch" class="govuk-link">Lavinia Starch</a> (Cashier)</li>
                  <li><a href="people#witness-snipe" class="govuk-link">Horatio Snipe</a> (Defendant's companion)</li>
                </ol>
            <p class="govuk-body-m govuk-!-margin-bottom-2"><strong>Police</strong> 
                <ol class="govuk-list govuk-body-s govuk-list--number">
                  <li><a href="people#police-fentworth" class="govuk-link">PC Rupert Fentworth</a> (Attending Officer)</li>
                  <li><a href="people#police-glover" class="govuk-link">DC Edna Glover</a> (Digital Forensics Officer)</li>
                </ol>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body-s govuk-!-margin-bottom-2"><a href="people" class="govuk-link">View people in more detail</a></p>
          </div>
        </div>
