
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Incident timeline
              </h2>
            </div>
          <div class="govuk-summary-card__content">
            <ol class="moj-timeline">

              <li class="moj-timeline__item">
                <h3 class="moj-timeline__title">Snodgrass and Quibble enter store</h3>
                <p class="moj-timeline__date">2:20pm, 15 January 2026</p>
              </li>

              <li class="moj-timeline__item">
                <h3 class="moj-timeline__title">Items concealed</h3>
                <p class="moj-timeline__date">2:21pm to 2:26pm, 15 January 2026</p>
              </li>

              <li class="moj-timeline__item">
                <h3 class="moj-timeline__title">Snodgrass assaults security guard</h3>
                <p class="moj-timeline__date">2:28pm, 15 January 2026</p>
              </li>

              <li class="moj-timeline__item">
                <h3 class="moj-timeline__title">Both defendants apprehended</h3>
                <p class="moj-timeline__date">2:35pm, 15 January 2026</p>
              </li>

            </ol>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body-s govuk-!-margin-bottom-2"><a href="timeline" class="govuk-link">View incident timeline in more detail</a></p>
          </div>
        </div>
