{% extends "layouts/case-graph/v4/main.html" %}
{% set navId = 'materials' %}
{% set pageName = "Materials" %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% include "_includes/case-graph/v4/case-header.njk" %}

    <div data-view="all">
      {% include "_includes/case-graph/v4/materials-all.njk" %}
    </div>

    <div data-view="quibble">
      {{ govukInsetText({ html: "Showing materials for <strong>Tabitha Quibble</strong> only." }) }}
      {% include "_includes/case-graph/v4/materials-quibble.njk" %}
    </div>

    <div data-view="snodgrass">
      {{ govukInsetText({ html: "Showing materials for <strong>Percival Snodgrass</strong> only." }) }}
      {% include "_includes/case-graph/v4/materials-snodgrass.njk" %}
    </div>

  </div>
</div>
{% endblock %}
