{% extends "layouts/overview.html" %}

{% set navId = 'overview' %}
{% set pageName = "Case Summary prototypes" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Ai projects overview",
      href: "/index"
    },
    {
      text: "Case Summary prototypes"
    }
    ]
}) }}
{% endblock %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% extends "layouts/main.html" %}


      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      <ul class="govuk-task-list">

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="case-graph/v3/overview" aria-describedby="">
        V3: Iterating on V2 with user feedback and business priorities, and a focus on defendants not just the case
      </a>
      <div id="company-details-3-hint" class="govuk-task-list__hint">
            <p>
            Add a reviewing lawyer charge, allow filtering by person on the charges, make it clearer when AI has suggested a charge.
            </p>
            <p>
              Tailor information by user role (reviewing lawyer or advocate) and scenario.
            </p>
            <p>
              Add links to legal guidance and keep testing vague "strong"/"weak" tags with users.
            </p>
      </div>
      <p class="govuk-body-s govuk-task-list__hint">Last updated 16 February 2026</p>
    </div>
    <div class="govuk-task-list__status" id="company-details-3-status">
      <strong class="govuk-tag govuk-tag--light-blue">
        Work in progress
      </strong>
    </div>
  </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="case-graph/poc/overview" aria-describedby="">
        Proof of concept
      </a>
      <div id="company-details-3-hint" class="govuk-task-list__hint">
        <p>A narrowed down version of V2, defined by the features we want to build as POC.</p>
      </div>
      <p class="govuk-body-s govuk-task-list__hint">Last updated 16 February 2026</p>
    </div>
    <div class="govuk-task-list__status" id="company-details-3-status">
      <strong class="govuk-tag govuk-tag--blue">
        In development
      </strong>
    </div>
  </li>

  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="case-graph/v2/advocate/overview" aria-describedby="">
        V2: Redesigning the art of the possible
      </a>
      <div id="company-details-3-hint" class="govuk-task-list__hint">
        <p>Start from scratch with new hypotheses and a plan to design something that works for both advocates and reviewing lawyers</p>
      </div>
      <p class="govuk-body-s govuk-task-list__hint">Last updated 16 February 2026</p>
    </div>
    <div class="govuk-task-list__status" id="company-details-3-status">
      <strong class="govuk-tag govuk-tag--green">
        Completed
      </strong>
    </div>
  </li>
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="case-graph/v1" aria-describedby="">
        V1: Make a prototype from the case graph information available.
      </a>
      <div id="company-details-3-hint" class="govuk-task-list__hint">
        <p>Driven by the current constraints of this design being a one page artefact, I took the tech driven Case Summary POC and turned it into a prototype that presented the information in an easier to digest format.</p>
        <p>This prototype did not test well, users were too caught up in the nuances of the case graph information to focus on the presentation of the data.</p>
      </div>
      <p class="govuk-body-s govuk-task-list__hint">Last updated 18 November 2025</p>
    </div>
    <div class="govuk-task-list__status" id="company-details-4-status">
      <strong class="govuk-tag govuk-tag--green">
        Completed
      </strong>
    </div>
  </li>
</ul>


  </div>
</div>

{% endblock %}
