{% extends "layouts/main.html" %}

{% block pageTitle %}
  Learn to drive a car: step by step
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Learn to drive a car: step by step</h1>

      <p class="govuk-body">Check what you need to do to learn to drive.</p>

      <div class="app-step-nav app-step-nav--active" data-module="app-step-nav">
        <ol class="app-step-nav__steps">
          
          <!-- Step 1 -->
          <li class="app-step-nav__step" id="check-youre-allowed-to-drive">
            <div class="app-step-nav__header">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 1
                    </span>
                  </span>
                </span>
                <span>
                  Check you're allowed to drive
                </span>
              </h2>
            </div>
            <div class="app-step-nav__panel">
              <p class="app-step-nav__paragraph">Most people can start learning to drive when they're 17.</p>
              <ol class="app-step-nav__list">
                <li class="app-step-nav__list-item">
                  <a href="#" class="app-step-nav__link">Check what age you can drive</a>
                </li>
                <li class="app-step-nav__list-item">
                  <a href="#" class="app-step-nav__link">Requirements for driving legally</a>
                </li>
              </ol>
            </div>
          </li>

          <!-- Step 2 -->
          <li class="app-step-nav__step" id="get-a-provisional-licence">
            <div class="app-step-nav__header">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 2
                    </span>
                  </span>
                </span>
                <span>
                  Get a provisional licence
                </span>
              </h2>
            </div>
            <div class="app-step-nav__panel">
              <ol class="app-step-nav__list">
                <li class="app-step-nav__list-item">
                  <a href="#" class="app-step-nav__link">Apply for your first provisional driving licence</a> £34 to £43
                </li>
              </ol>
            </div>
          </li>

          <!-- Step 3 -->
          <li class="app-step-nav__step" id="driving-lessons-and-practice">
            <div class="app-step-nav__header">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 3
                    </span>
                  </span>
                </span>
                <span>
                  Driving lessons and practice
                </span>
              </h2>
            </div>
            <div class="app-step-nav__panel">
              <p class="app-step-nav__paragraph">You need a provisional driving licence to take lessons or practice.</p>
              <ol class="app-step-nav__list">
                <li class="app-step-nav__list-item">
                  <a href="#" class="app-step-nav__link">The Highway Code</a>
                </li>
                <li class="app-step-nav__list-item">
                  <a href="#" class="app-step-nav__link">Taking driving lessons and finding driving schools</a>
                </li>
                <li class="app-step-nav__list-item">
                  <a href="#" class="app-step-nav__link">Practise vehicle safety questions</a>
                </li>
              </ol>
            </div>
          </li>

          <!-- Step 4 -->
          <li class="app-step-nav__step" id="prepare-for-your-theory-test">
            <div class="app-step-nav__header">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 4
                    </span>
                  </span>
                </span>
                <span>
                  Prepare for your theory test
                </span>
              </h2>
            </div>
            <div class="app-step-nav__panel">
              <ol class="app-step-nav__list">
                <li class="app-step-nav__list-item">
                  <a href="#" class="app-step-nav__link">Theory test revision and practice</a>
                </li>
                <li class="app-step-nav__list-item">
                  <a href="#" class="app-step-nav__link">Take a practice theory test</a>
                </li>
              </ol>
            </div>
          </li>

          <!-- Step 5 -->
          <li class="app-step-nav__step" id="book-and-manage-your-theory-test">
            <div class="app-step-nav__header">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 5
                    </span>
                  </span>
                </span>
                <span>
                  Book and manage your theory test
                </span>
              </h2>
            </div>
            <div class="app-step-nav__panel">
              <p class="app-step-nav__paragraph">You need a provisional driving licence to book your theory test.</p>
              <ol class="app-step-nav__list">
                <li class="app-step-nav__list-item">
                  <a href="#" class="app-step-nav__link">Book your theory test</a> £23
                </li>
                <li class="app-step-nav__list-item">
                  <a href="#" class="app-step-nav__link">What to take to your test</a>
                </li>
                <li class="app-step-nav__list-item">
                  <a href="#" class="app-step-nav__link">Change your theory test appointment</a>
                </li>
                <li class="app-step-nav__list-item">
                  <a href="#" class="app-step-nav__link">Check your theory test appointment details</a>
                </li>
                <li class="app-step-nav__list-item">
                  <a href="#" class="app-step-nav__link">Cancel your theory test</a>
                </li>
              </ol>
            </div>
          </li>

          <!-- Step 6 -->
          <li class="app-step-nav__step" id="book-and-manage-your-driving-test">
            <div class="app-step-nav__header">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 6
                    </span>
                  </span>
                </span>
                <span>
                  Book and manage your driving test
                </span>
              </h2>
            </div>
            <div class="app-step-nav__panel">
              <p class="app-step-nav__paragraph">You must pass your theory test before you can book your driving test.</p>
              <ol class="app-step-nav__list">
                <li class="app-step-nav__list-item">
                  <a href="#" class="app-step-nav__link">Book your driving test</a> £62 to £75
                </li>
                <li class="app-step-nav__list-item">
                  <a href="#" class="app-step-nav__link">What to take to your test</a>
                </li>
                <li class="app-step-nav__list-item">
                  <a href="#" class="app-step-nav__link">Change your driving test appointment</a>
                </li>
                <li class="app-step-nav__list-item">
                  <a href="#" class="app-step-nav__link">Check your driving test appointment details</a>
                </li>
                <li class="app-step-nav__list-item">
                  <a href="#" class="app-step-nav__link">Cancel your driving test</a>
                </li>
              </ol>
            </div>
          </li>

          <!-- Step 7 -->
          <li class="app-step-nav__step" id="when-you-pass">
            <div class="app-step-nav__header">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 7
                    </span>
                  </span>
                </span>
                <span>
                  When you pass
                </span>
              </h2>
            </div>
            <div class="app-step-nav__panel">
              <p class="app-step-nav__paragraph">You can start driving as soon as you pass your driving test.</p>
              <p class="app-step-nav__paragraph">You must have an insurance policy that allows you to drive without supervision.</p>
              <ol class="app-step-nav__list">
                <li class="app-step-nav__list-item">
                  <a href="#" class="app-step-nav__link">Find out about Pass Plus training courses</a>
                </li>
              </ol>
            </div>
          </li>

        </ol>
      </div>

    </div>
  </div>

  <style>
    .app-step-nav {
      margin-bottom: 30px;
    }

    .app-step-nav__steps {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .app-step-nav__step {
      position: relative;
      padding-left: 45px;
      padding-bottom: 30px;
      border-left: 3px solid #b1b4b6;
    }

    .app-step-nav__step:last-child {
      border-left: 0;
      padding-bottom: 0;
    }

    .app-step-nav__header {
      padding-bottom: 15px;
    }

    .app-step-nav__title {
      margin: 0;
      font-size: 19px;
      font-weight: 700;
    }

    .app-step-nav__circle {
      position: absolute;
      left: -28px;
      top: 0;
      width: 50px;
      height: 50px;
    }

    .app-step-nav__circle-inner {
      display: block;
      width: 100%;
      height: 100%;
    }

    .app-step-nav__circle-background {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #1d70b8;
      color: #fff;
      font-size: 19px;
      font-weight: 700;
    }

    .app-step-nav__panel {
      padding-bottom: 15px;
    }

    .app-step-nav__paragraph {
      margin-top: 0;
      margin-bottom: 15px;
      font-size: 16px;
    }

    .app-step-nav__list {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .app-step-nav__list-item {
      margin-bottom: 10px;
    }

    .app-step-nav__link {
      font-size: 16px;
    }
  </style>
{% endblock %}