
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Incident timeline
              </h2>
            </div>
          <div class="govuk-summary-card__content">
            <ol class="moj-timeline">

              <li class="moj-timeline__item">
                <h3 class="moj-timeline__title">
Robbery at Quibblesworth Fine Jewellers
                </h3>
                <p class="moj-timeline__date">
19 August 2024, 6:30pm
                </p>
              </li>

             <li class="moj-timeline__item">
                <h3 class="moj-timeline__title">
Suspects flee in a car
                </h3>
                <p class="moj-timeline__date">
19 August 2024, 7:38pm
                </p>
              </li>

             <li class="moj-timeline__item">
                <h3 class="moj-timeline__title">
Cornelius returns to the shop
                </h3>
                <p class="moj-timeline__date">
19 August 2024, 7:39pm
                </p>
              </li>

             <li class="moj-timeline__item">
                <h3 class="moj-timeline__title">
Emergency services arrive
                </h3>
                <p class="moj-timeline__date">
19 August 2024, 7:55pm
                </p>
              </li>


            </ol>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body-s govuk-!-margin-bottom-2"><a href="timeline" class="govuk-link">View incident timeline in more detail</a></p>
          </div>
        </div>

