

<hr class="govuk-section-break govuk-section-break--m">

<!-- <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper" style="display: flex; justify-content: space-between; align-items: center;">
    <h2 class="govuk-summary-card__title" style="margin-bottom: 0;">Incident timeline</h2>-->
  <!-- </div>
  <section aria-label="Case timeline">
    <div class="govuk-summary-card__content"> -->

      <ol class="moj-timeline">

        <li class="moj-timeline__item">
          <div class="moj-timeline__header" style="display: flex; justify-content: space-between; align-items: flex-start; gap: 1em;">
            <div>
              <h3 class="moj-timeline__title">Meridian Snickerdoodle meets Mortimer Blorgstein at The Rusty Anchor pub</h3>
              <p class="moj-timeline__date">5 August 2024, midnight</p>
            </div>
          </div>
          <div class="moj-timeline__entry">
            <p class="govuk-body">
Approximately two weeks before the robbery, Mortimer Blorgstein mentions money troubles and talks about a jewellery shop in Little Puddington as 'easy pickings' during a conversation with Meridian Snickerdoodle.
            </p>
            <p class="govuk-body-s"><strong>Evidence:</strong>
              <a href="#">statement_Meridian.docx</a>
            </p>
          </div>
        </li>

        <li class="moj-timeline__item">
          <div class="moj-timeline__header" style="display: flex; justify-content: space-between; align-items: flex-start; gap: 1em;">
            <div>
              <h3 class="moj-timeline__title">
Robbery at Quibblesworth Fine Jewellers
              </h3>
              <p class="moj-timeline__date">
19 August 2024, 6:30pm
              </p>
            </div>
          </div>
          <div class="moj-timeline__entry">
            <p class="govuk-body">
Quibblesworth Fine Jewellers in Little Puddington is robbed. Meridian Snickerdoodle is at home with his partner that evening and not involved in the robbery.
           </p>
            <p class="govuk-body-s"><strong>Evidence:</strong>
              <a href="#">statement_Meridian.docx</a>
            </p>
          </div>
        </li>

  
          <li class="moj-timeline__item">
          <div class="moj-timeline__header" style="display: flex; justify-content: space-between; align-items: flex-start; gap: 1em;">
            <div>
              <h3 class="moj-timeline__title">
Cornelius Fizzlebottom leaves work
              </h3>
              <p class="moj-timeline__date">
19 August 2024, 7:30pm
              </p>
            </div>
          </div>
          <div class="moj-timeline__entry">
            <p class="govuk-body">
Cornelius Fizzlebottom finishes work at Drizzleton & Associates and begins walking home.
           </p>
            <p class="govuk-body-s"><strong>Evidence:</strong>
              <a href="#">statement_Cornelius.docx</a>
            </p>
          </div>
        </li>


        <li class="moj-timeline__item">
          <div class="moj-timeline__header" style="display: flex; justify-content: space-between; align-items: flex-start; gap: 1em;">
            <div>
              <h3 class="moj-timeline__title">
Cornelius observes Quibblesworth Fine Jewellers and robbery begins
              </h3>
              <p class="moj-timeline__date">
19 August 2024, 7:35pm
              </p>
            </div>
          </div>
          <div class="moj-timeline__entry">
            <p class="govuk-body">
Cornelius notices the shop is lit and sees Mr. Quibblesworth talking to two customers inside. At the same time, two individuals, a man and a woman, enter posing as last-minute customers. The man assaults Mr. Quibblesworth and forces him to open the safe, while the woman threatens Zephyrina Plinkerton with a hammer and smashes display cases before stealing jewellery.
           </p>
            <p class="govuk-body-s"><strong>Evidence:</strong>
              <a href="#">statement_Cornelius.docx</a>, 
              <a href="#">statement_Zephyrina.docx</a>, 
            </p>
          </div>
        </li>


        <li class="moj-timeline__item">
          <div class="moj-timeline__header" style="display: flex; justify-content: space-between; align-items: flex-start; gap: 1em;">
            <div>
              <h3 class="moj-timeline__title">
Glass breaks and robbers flee from jewellery shop
              </h3>
              <p class="moj-timeline__date">
19 August 2024, 7:36pm
              </p>
            </div>
          </div>
          <div class="moj-timeline__entry">
            <p class="govuk-body">
Cornelius hears glass breaking and raised voices. Two suspects, a woman and a man, quickly run out of the shop.
           </p>
            <p class="govuk-body-s"><strong>Evidence:</strong>
              <a href="#">statement_Cornelius.docx</a>
            </p>
          </div>
        </li>


        <li class="moj-timeline__item">
          <div class="moj-timeline__header" style="display: flex; justify-content: space-between; align-items: flex-start; gap: 1em;">
            <div>
              <h3 class="moj-timeline__title">
Suspects flee in a car
              </h3>
              <p class="moj-timeline__date">
19 August 2024, 7:38pm
              </p>
            </div>
          </div>
          <div class="moj-timeline__entry">
            <p class="govuk-body">
The woman and man get into a dark blue saloon car and drive away. Cornelius sees part of the registration plate ('FZ', '6', possibly '3').
           </p>
            <p class="govuk-body-s"><strong>Evidence:</strong>
              <a href="#">statement_Cornelius.docx</a>
            </p>
          </div>
        </li>


        <li class="moj-timeline__item">
          <div class="moj-timeline__header" style="display: flex; justify-content: space-between; align-items: flex-start; gap: 1em;">
            <div>
              <h3 class="moj-timeline__title">
Cornelius returns to the shop
              </h3>
              <p class="moj-timeline__date">
19 August 2024, 7:39pm
              </p>
            </div>
          </div>
          <div class="moj-timeline__entry">
            <p class="govuk-body">
Cornelius notices the shop's damaged display cases, enters the shop, and finds Mr. Quibblesworth injured and Ms. Plinkerton distressed.
           </p>
            <p class="govuk-body-s"><strong>Evidence:</strong>
              <a href="#">statement_Cornelius.docx</a>
            </p>
          </div>
        </li>


        <li class="moj-timeline__item">
          <div class="moj-timeline__header" style="display: flex; justify-content: space-between; align-items: flex-start; gap: 1em;">
            <div>
              <h3 class="moj-timeline__title">
Robbery at Quibblesworth Fine Jewellers and suspects flee
              </h3>
              <p class="moj-timeline__date">
19 August 2024, 7:40pm
              </p>
            </div>
          </div>
          <div class="moj-timeline__entry">
            <p class="govuk-body">
Two robbers, a man and a woman, entered the shop at 284 High Street, Little Puddington, assaulted Bartholomew Quibblesworth and Zephyrina Plinkerton, and stole jewellery worth approximately £127,000, including Rolex and Omega watches, diamond rings, and gold necklaces. They fled the scene after the robbery.
           </p>
            <p class="govuk-body-s"><strong>Evidence:</strong>
              <a href="#">statement_Bartholomew.docx</a>,
              <a href="#">statement_Zephyrina.docx</a>
            </p>
          </div>
        </li>


        <li class="moj-timeline__item">
          <div class="moj-timeline__header" style="display: flex; justify-content: space-between; align-items: flex-start; gap: 1em;">
            <div>
              <h3 class="moj-timeline__title">
Emergency services contacted by Mr. Fizzlebottom
              </h3>
              <p class="moj-timeline__date">
19 August 2024, 7:42pm
              </p>
            </div>
          </div>
          <div class="moj-timeline__entry">
            <p class="govuk-body">
Mr. Fizzlebottom ran into the shop and informed Zephyrina Plinkerton that he had already called the police and an ambulance.
           </p>
            <p class="govuk-body-s"><strong>Evidence:</strong>
              <a href="#">statement_Zephyrina.docx</a>
            </p>
          </div>
        </li>


        <li class="moj-timeline__item">
          <div class="moj-timeline__header" style="display: flex; justify-content: space-between; align-items: flex-start; gap: 1em;">
            <div>
              <h3 class="moj-timeline__title">
Cornelius calls 999
              </h3>
              <p class="moj-timeline__date">
19 August 2024, 7:47pm
              </p>
            </div>
          </div>
          <div class="moj-timeline__entry">
            <p class="govuk-body">
Cornelius calls the police and ambulance using his mobile phone.
           </p>
            <p class="govuk-body-s"><strong>Evidence:</strong>
              <a href="#">statement_Cornelius.docx</a>
            </p>
          </div>
        </li>


        <li class="moj-timeline__item">
          <div class="moj-timeline__header" style="display: flex; justify-content: space-between; align-items: flex-start; gap: 1em;">
            <div>
              <h3 class="moj-timeline__title">
Emergency services arrive
              </h3>
              <p class="moj-timeline__date">
19 August 2024, 7:55pm
              </p>
            </div>
          </div>
          <div class="moj-timeline__entry">
            <p class="govuk-body">
Police and ambulance services arrive at Quibblesworth Fine Jewellers approximately 8 minutes after Cornelius's call.
           </p>
            <p class="govuk-body-s"><strong>Evidence:</strong>
              <a href="#">statement_Cornelius.docx</a>
            </p>
          </div>
        </li>



      </ol>
  <!--  </div>
  </section>
</div> -->
