{% extends "layouts/unbranded.html" %}
{% set pageName = "Prototype Testing" %}

{% block content %}
<div class="govuk-width-container" style="margin-top: 60px;">
  <h1 class="govuk-heading-l">Start prototype testing</h1>
  <p class="govuk-body">This area is for research and user testing only. Please do not share this link or any content within this section outside the research group.</p>

  {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Start now",
  href: "case-graph/v2/advocate/overview?testing=1",
  isStartButton: true
}) }}
</div>
{% endblock %}
