{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container" style="margin-top: 60px;">
  <h1 class="govuk-heading-l">Start prototype testing</h1>
  <p class="govuk-body">This area is for research and user testing only. Please do not share this link or any content within this section outside the research group.</p>

  {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Start now",
  href: "/testing/consent",
  isStartButton: true
}) }}
</div>
{% endblock %}
