{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Thank you – Research session
{% endblock %}

{% block content %}
<div class="govuk-width-container" style="margin-top: 60px; max-width: 640px;">

  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">Thank you</h1>
    <div class="govuk-panel__body">Your feedback has been recorded</div>
  </div>

  <p class="govuk-body govuk-!-margin-top-6">Your responses have been saved. You can now close this browser tab.</p>

  <p class="govuk-body">If you have any questions about this research session, please contact the research team.</p>

</div>
{% endblock %}
